* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", sans-serif, Helvetica;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: antiquewhite;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
  margin-bottom: 15px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  padding-bottom: 15;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
	margin-top: 0;
	margin-bottom: 0;
  background-color: darkgray;
}

#nav-list a {
  color: black;
  text-align: center;
  margin-top: 25px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid lightsalmon;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */



/* HOME PAGE */

.container div {
  margin-left:25px;
  margin-right:25px;
}

.container > #menu {
	color:#222;
	margin-top: 20px;
	margin-bottom: 45px;
}

#menu-tile {
  height: 1000px;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  border: 1px solid #3F0C1F;
  overflow: hidden;
  background-color: lightgray;
}
#menu-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  color: black;
}

#menu-tile p {
	margin-top: 25px;
	color: black;
}
/* END HOME PAGE */
